/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);
	/* paragraphes */
	--transparent-white: hsla(0, 0%, 100%, 0.75);
	/* background, headings, buttons */
	--very-light-gray: hsl(0, 0%, 95%);
	/* font size */
	--font-size: 15px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: var(--font-size);
	line-height: 1.6;
	font-family: 'Lexend Deca', sans-serif;
}
.card-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 4rem 1rem;
	background: var(--transparent-white);
}

.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1.6rem 2.5rem 1.6rem 2.5rem;
	background: var(--bright-orange);
	border-radius: 5px 5px 0 0;
	max-width: 300px;
}

.card__title {
	margin: 1rem 0;
	font-size: 1.9rem;
	text-transform: uppercase;
	color: var(--very-light-gray);
	font-family: 'Big Shoulders Display', cursive;
}

.card__desc {
	padding-right: 1.1rem;
	text-align: left;
	color: var(--transparent-white);

	margin-bottom: 2rem;
}

.card__btn {
	color: var(--bright-orange);
	background: var(--very-light-gray);
	padding: 0.5rem 2rem;
	border-radius: 20px;
	margin-bottom: 1rem;
	text-decoration: none;
}
