/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);
	/* paragraphes */
	--transparent-white: hsla(0, 0%, 100%, 0.75);
	/* background, headings, buttons */
	--very-light-gray: hsl(0, 0%, 95%);
	/* font size */
	--font-size: 15px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: var(--font-size);
	line-height: 1.6;
	font-family: 'Lexend Deca', sans-serif;
}

.card-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 4rem 1rem;
	background: var(--transparent-white);
}

.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1.6rem 2.5rem 1.6rem 2.5rem;
	background: var(--bright-orange);

	max-width: 300px;
}
.card:nth-child(1) {
	border-radius: 5px 5px 0 0;
}

.card:nth-child(2) {
	background: var(--dark-cyan);
}

.card:nth-child(3) {
	border-radius: 0 0 5px 5px;
	background: var(--very-dark-cyan);
}

.card__title {
	margin: 1rem 0;
	font-size: 1.9rem;
	text-transform: uppercase;
	color: var(--very-light-gray);
	font-family: 'Big Shoulders Display', cursive;
}

.card__desc {
	padding-right: 1.1rem;
	text-align: left;
	color: var(--transparent-white);

	margin-bottom: 2rem;
}

.card__btn {
	color: var(--bright-orange);
	background: var(--very-light-gray);
	padding: 0.5rem 2rem;
	border-radius: 20px;
	margin-bottom: 1rem;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.card:nth-child(2) .card__btn {
	color: var(--dark-cyan);
}

/* buttons hover states */

.card:nth-child(1) .card__btn:hover {
	border: 1px solid var(--transparent-white);
	background: var(--bright-orange);
	color: var(--transparent-white);
}

.card:nth-child(2) .card__btn:hover {
	border: 1px solid var(--transparent-white);
	background: var(--dark-cyan);
	color: var(--transparent-white);
}

.card:nth-child(3) .card__btn:hover {
	border: 1px solid var(--transparent-white);
	background: var(--very-dark-cyan);
	color: var(--transparent-white);
}

.card:nth-child(3) .card__btn {
	color: var(--very-dark-cyan);
}

@media (max-width: 930px) {
	.card-container {
		flex-direction: column;
	}
}

@media (min-width: 931px) {
	.card-container {
		height: 100vh;
	}

	.card {
		padding-top: 3.7rem;
		height: 500px;
	}
	.card__btn {
		margin-top: 4rem;
	}

	.card:nth-child(1) {
		border-radius: 5px 0 0 5px;
	}

	.card:nth-child(3) {
		border-radius: 0 5px 5px 0;
	}
}
